<div class="m-loginForm">
  <gaggle-form-field
    class="m-loginForm__field"
    type="text"
    label="Username"
    id="#username"
  ></gaggle-form-field>
  <gaggle-form-field
    class="m-loginForm__field"
    type="password"
    label="Password"
    id="#password"
  ></gaggle-form-field>
  <div class="m-loginForm__checkbox a-checkbox">
    <input type="checkbox" class="a-checkbox__input" /><span
      class="a-checkbox__label"
      >Remember</span
    >
  </div>
  <button mat-raised-button color="primary" class="m-loginForm__button">
    Sign On
  </button>
</div>
