$white: #fff;
$light-gray: #ebebeb;
$medium-gray: #bbb;
$black: #000;
$orange: #f16825;
$navy: #263a91;

// Font settings
$base-font-size: 16 !default;
$base-font-color: $black !default;

$body-font-weight: 400 !default;
$header-font-weight: 400 !default;

$container-xl: 100rem !default;
$container-lg: 70rem !default;
$container-md: 56.5rem !default;
$container-sm: 100% !default;

$screen-xl: 112.5em !default;
$screen-lg: 80em !default;
$screen-md: 62.5em !default;
$screen-sm: 37.5em !default;
$screen-xs: 20em !default;
