<main id="main">
  <div id="page-content" class="o-login">
    <div class="o-login__logo">
      <img src="/assets/logo--Gaggle.svg" alt="Gaggle Logo" />
    </div>
    <div class="o-login__content center">
      <router-outlet></router-outlet>
    </div>
    <div class="o-login__links">
      <a class="o-login__links__item" routerLink="/auth/register">Register</a>
      <a class="o-login__links__item" routerLink="/auth/forgot-password"
        >Forgot Password?</a
      >
    </div>
  </div>
  <div id="page-hero"></div>
</main>
