<mat-dialog-content>
  <div class="mdc-dialog__content__sidebar">
    <div class="mdc-dialog__content__sidebar__icon">❓</div>
  </div>
  <div class="mdc-dialog__content__main">
    <h4 class="mdc-dialog__content__main__title">Reset Password</h4>
    <form [formGroup]="forgotPasswordForm">
      <gaggle-form-field
        class="m-forgotPasswordForm__field"
        type="email"
        label="Email"
        id="#email"
        [control]="email"
      ></gaggle-form-field>
    </form>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <a class="mdc-dialog__actions__item -close" [mat-dialog-close]>Cancel </a>
  <a class="mdc-dialog__actions__item" (click)="reset()"> Reset </a>
</div>
