<div
  class="a-formField"
  [class.-focus]="hasFocus"
  [class.-error]="control.invalid && !control.pristine"
>
  <label class="a-formField__label" [for]="id">{{ label }}</label>
  <mat-icon
    class="a-formField__errorIcon"
    *ngIf="control && control.errors && !control.pristine"
    >warning</mat-icon
  >
  <input
    class="a-formField__input"
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [ariaLabel]="label"
    [formControl]="control"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />
  <mat-icon
    class="a-formField__clear"
    [class.-hidden]="!control?.value || control?.value?.length === 0"
    (click)="clearValue()"
    >close</mat-icon
  >
  <ul
    class="a-formField__errors"
    *ngIf="control && control.errors && !control.pristine"
  >
    <li *ngIf="control.errors['required']">{{ label }} is required</li>
    <li *ngIf="control.errors['minlength']">
      {{ label }} must be at least
      {{ control.errors["minlength"].requiredLength }} characters
    </li>
    <li *ngIf="control.errors['maxlength']">
      {{ label }} cannot have more than
      {{ control.errors["maxlength"].requiredLength }} characters
    </li>
    <li *ngIf="control.errors['pattern']">{{ label }} {{ patternError }}</li>
  </ul>
</div>
